In [1]:
class Stack:    
    def __init__(self): 
        self.items = []
    def isEmpty(self):
        return self.items == []  # True False
 
    def push(self, item): 
        self.items.append(item)
 
    def pop(self):
        self.items.pop()
 
    def peek(self): 
        return self.items[len(self.items) - 1]
 
    def size(self):
        return len(self.items)

In [2]:
s = Stack() 
s.isEmpty() 
s.push('I') 
s.push('like') 
s.push('python') 
s.pop() 
s.peek() 
# s.size()

'like'

In [1]:
import pandas as pd
import numpy as np

In [3]:
r"D:\Data\信息中心进出口\数据处理\2020\蔬菜水果_贸202001-02.xlsx"
docAddress = r"D:\Data\信息中心进出口\数据处理\2020\蔬菜水果_贸202001-02.xlsx"
data = pd.read_excel(docAddress,encoding='iso-8859-1')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 13 columns):
产品               663 non-null object
类别               663 non-null object
贸易方式             663 non-null object
截至时间             663 non-null object
时间               663 non-null datetime64[ns]
当期出口金额（万美元）      663 non-null float64
当期进口金额（万美元）      663 non-null float64
当期出口数量（吨）        663 non-null float64
当期进口数量（吨）        663 non-null float64
一至当月出口金额（万美元）    663 non-null float64
一至当月进口金额（万美元）    663 non-null float64
一至当月出口数量（吨）      663 non-null float64
一至当月进口数量（吨）      663 non-null float64
dtypes: datetime64[ns](1), float64(8), object(4)
memory usage: 67.4+ KB

In [11]:
pd.set_option('float_format', lambda x: '%.0f' % x)
data.describe()

,当期出口金额（万美元）,当期进口金额（万美元）,当期出口数量（吨）,当期进口数量（吨）,一至当月出口金额（万美元）,一至当月进口金额（万美元）,一至当月出口数量（吨）,一至当月进口数量（吨）
count,663,663,663,663,663,663,663,663
mean,840,46,6133,374,1382,65,9761,577
std,5721,282,42238,2629,9202,394,68096,3996
min,0,0,0,0,0,0,0,0
25%,0,0,0,0,0,0,0,0
50%,1,0,3,0,2,0,9,0
75%,62,2,320,6,93,4,426,12
max,109019,5087,724376,53375,168341,7648,1214348,64567

In [20]:
list1=data['产品']

In [21]:
print(list1)

0             蔬菜
1             蔬菜
2             蔬菜
3             蔬菜
4             蔬菜
5             蔬菜
6             蔬菜
7             蔬菜
8             蔬菜
9             蔬菜
10            蔬菜
11            蔬菜
12            蔬菜
13            蔬菜
14            蔬菜
15            蔬菜
16            蔬菜
17            蔬菜
18            蔬菜
19            蔬菜
20           干蔬菜
21           干蔬菜
22           干蔬菜
23           干蔬菜
24           干蔬菜
25           干蔬菜
26           干蔬菜
27           干蔬菜
28           干蔬菜
29           干蔬菜
         ...
633    豇豆及菜豆（加工）
634    豇豆及菜豆（加工）
635    豇豆及菜豆（加工）
636    豇豆及菜豆（加工）
637    豇豆及菜豆（加工）
638    豇豆及菜豆（加工）
639           甜瓜
640           甜瓜
641           西瓜
642           西瓜
643           山药
644           山药
645           山药
646          甜玉米
647          甜玉米
648          甜玉米
649          甜玉米
650           荸荠
651           荸荠
652           榨菜
653           榨菜
654           榨菜
655           榨菜
656           榨菜
657           榨菜
658           榨菜
659         蔬菜种子
660         蔬菜种子
661         蔬菜种子
662         蔬菜种子
Name: 产品, Length: 663, dtype: object

In [22]:
list1 = list1.tolist()

In [24]:
del(list1)

In [25]:
list1

NameError: name 'list1' is not defined