In [4]:
import pandas as pd
import numpy as np

In [32]:
docAddress = r"D:\Data\2019价格监测系统\历史数据\旬度价格数据.csv"
df = pd.read_csv(docAddress,encoding='UTF-8-SIG',engine='python')

In [26]:
import chardet
with open(docAddress, 'rb') as f:
    print(chardet.detect(f.read())['encoding'])

UTF-8-SIG

In [33]:
df.shape

(1430983, 29)

In [34]:
df.head()

,t1,t2,t3,t4,t5,t6,t7,t8,t9,v1,...,quesid,regionid,taskdate,row,v10,v11,v12,t10,t11,t12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,普通白菜,...,1-490,110112,20120301,4,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,茄 子,...,1-490,110112,20120311,24,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,番 茄,...,1-490,110112,20120401,18,NaN,NaN,市场价格波动,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,茄 子,...,1-490,110112,20120401,24,NaN,NaN,市场价格波动,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,黄 瓜,...,1-490,110112,20120411,12,NaN,NaN,市场变动,NaN,NaN,NaN