In [1]:
import pandas as pd
import numpy as np

In [2]:
docAddress = r"D:\Data\种植业司\全国蔬菜面积产量.xlsx"
df = pd.read_excel(docAddress, sheet_name='全国蔬菜面积与产量')

In [3]:
df.shape

(4835, 6)

In [4]:
df.head()

    地区 蔬菜种类    面积（万亩）    产量（万吨）    年份        数据来源
0   北京  大白菜   13.7854   73.6677  1990  中国蔬菜专业统计资料
1   天津  大白菜    9.7905   37.8435  1990  中国蔬菜专业统计资料
2   河北  大白菜  140.6000  679.1500  1990  中国蔬菜专业统计资料
3   山西  大白菜   13.1000   65.5000  1990  中国蔬菜专业统计资料
4  内蒙古  大白菜   21.0573   92.7664  1990  中国蔬菜专业统计资料

In [5]:
df.tail()

      地区 蔬菜种类      面积（万亩）      产量（万吨）    年份  数据来源
4830  陕西   其他  103.575500  146.717099  2013  种植业司
4831  甘肃   其他  166.554560  307.565740  2013  种植业司
4832  青海   其他   13.317550   22.525060  2013  种植业司
4833  宁夏   其他   20.516690   33.247990  2013  种植业司
4834  新疆   其他   36.833937   86.596938  2013  种植业司

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4835 entries, 0 to 4834
Data columns (total 6 columns):
地区        4835 non-null object
蔬菜种类      4835 non-null object
面积（万亩）    4391 non-null float64
产量（万吨）    4389 non-null float64
年份        4835 non-null int64
数据来源      4835 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 226.7+ KB

标准差、最大最小值

In [7]:
df.describe()

            面积（万亩）       产量（万吨）           年份
count  4391.000000  4389.000000  4835.000000
mean     41.212546    97.181211  2010.271975
std      69.030834   171.455878    10.064823
min       0.000300     0.000980  1990.000000
25%       4.377000     8.832000  2013.000000
50%      18.500750    35.978664  2015.000000
75%      48.617850   106.201270  2016.000000
max     727.017300  1482.357830  2017.000000

In [8]:
#检查重复数据
sum(df.duplicated())

0

In [10]:
df.nunique()

地区          31
蔬菜种类        36
面积（万亩）    4221
产量（万吨）    4301
年份           7
数据来源         2
dtype: int64

In [12]:
ncolumns = df.columns.size

In [17]:
df.ix[:,1].unique()
'''
C:\Users\cva_b\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: 
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
  '''

C:\Users\cva_b\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

array(['大白菜', '普通白菜', '甘蓝', '菠菜', '萝卜', '胡萝卜', '马铃薯', '韭菜', '大葱', '洋葱',
       '大蒜', '花椰菜', '莴笋', '芹菜', '芥菜', '番茄', '茄子', '甜椒', '辣椒', '菜豆', '豇豆',
       '黄瓜', '南瓜', '芦笋', '其他', '结球甘蓝', '青花菜', '苦瓜', '丝瓜', '西葫芦', '冬瓜',
       '雍菜', '莴苣', '姜', '芋', '莲藕'], dtype=object)

In [ ]:
#将0变为null
df.replace(0,np.nan)